{% extends 'administrator/index_location.html' %}
{% block styles %}
{{ block.super }}
<style>
    .header-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    </style>
    {% endblock styles %}

    {% block content %}
    <div class="header-title">
        <h1>List of continents</h1>
        <a class="btn btn-primary" href="{% url 'continent-add' %}">Add Continent</a>
    </div>
    <section>
{% for continent in continents %}
<div>
    <h3>
        <a href="{% url 'continent-detail' pk=continent.pk %}" style="text-decoration: none;">
            {{ continent.name }}
        </a>
    </h3>
    <div>
    {% endfor %}
    </section>

    <hr><hr>
    {% endblock content%}

    