{% extends 'administrator/index_location.html' %}
{% block styles %}
{{ block.super }}
<style>
    .header-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    </style>
    {% endblock styles %}

    {% block content %}
    <br><br><br>
    {% if perms.app_label.addcontinent %}
    <div class="header-title">
        <h1>List of continents</h1>
        <a class="btn btn-primary" href="{% url 'continent-add' %}">Add Continent</a>
    </div>
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Continent Name</th>
                    </tr>
                </thead>
                {% for continent in continents %}
                <tbody>
                    <tr>
                      <td><a href="{% url 'continent-detail' pk=continent.pk %}" style="text-decoration: none;">{{ continent.name }}</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </section>
   {% endif %}
    <hr><hr>
    {% endblock content%}

    