{% extends "base.html" %}
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr ;
    }
</style>
<div class="home-container">
    <div>
    </hr>
    {% if trips %} 
    <div class="alert alert-primary"><i class="fas fa-globe fa-fw me-3"></i>Browse Trips </div>
    <div class="alert alert-info">
        <a href="{% url 'home' %}">All</a>
     </div>
     <div class="alert alert-info">
      <a href="{% url 'interval-time' %}" style="text-decoration: none;">Choose time</a>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form }}
      <div>From<input type="date" value="first_date"></div>
      <div>To<input type="date" value="second_date"></div></form>
     </div>
     <div class="alert alert-info">
     <div class="dropdown">
      <button class="btn btn-outline-light" style="color:blue;">Types    <i class="fa fa-arrow-down"></i></button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{% url 'all-inclusive' %}">All inclusive</a>
        <a href="{% url 'half-broad' %}">Half Broad</a>
        <a href="{% url 'full-broad' %}">Full Broad</a>
        <a href="{% url 'bed-breakfast' %}">Bed & Breakfast</a>
      </div>
    </div>
    </div>
     <div class="alert alert-info">
        <a href="{% url 'home' %}?q={{city.name}}">Cities</a>
     </div>
     {% endif %}
    </div>

<aside>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap">
        {% for trip in trips %}
            <div class="card mb-2 mt-5" style="max-width: 410px; max-height: 180px;">
            <div class="row g-0">
              <div class="col-md-4">
                {% if trip.hotel_to_where.photo %}
                <img class="card-img-top" height="100%" src="{{ trip.hotel_to_where.photo.url }}" alt="Profile picture here ...">
                {% else %}
                <div class="alert alert-warning" role="alert">No photo for this hotel</div>
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">{{ trip.city_from_where.name }} to {{ trip.city_to_where.name}}</h6>
                  <p class="card-text"><h5>
                    Jorney lasts {{ trip.number_of_days }} from {{ trip.date_of_departure}} to
                    {{ trip.date_of_return }}
                  </h5></p>
                </div>
              </div>
              <div class="btn btn-info"><a href="{% url 'trip-detail' pk=trip.pk %}" style="text-decoration: none;">Details</a></div>
            </div>
            </div>
        {% endfor %}
    </div>
</aside>
<br><br><br>
{% endblock content %}
