{% extends 'administrator/index_location.html' %}{% load static %} {% block content %}<br /><br /><br />
{% if perms.app_label.deletetrip %}
<div class="d-flex justify-content-end">
<a href="{% url 'trip-edit' pk=trip.pk %}" class="btn btn-warning">Edit</a>
<a href="{% url 'delete-trip' pk=trip.pk %}" class="btn btn-danger">Delete</a>
</div>
{% endif %}
<div class="d-flex flex-wrap justify-content-around">
    <div class="card mb-3" style="max-width: 840px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if trip.hotel_to_where.photo %}
        <img class="card-img-top" height="100%" src="{{ trip.hotel_to_where.photo.url }}" alt="Profile picture here ...">
        {% else %}
        <div class="alert alert-warning" role="alert">No photo for this hotel</div>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ trip.city_from_where.name }} to {{ trip.city_to_where.name}}</h5>
          <p class="card-text"><h3>{{trip.airport_from_where}} to {{trip.airport_to_where}}</h3></p>
          <p class="card-text"><h3>
            {{ trip.type }} {{ trip.promoted }}  Journey lasts {{ trip.number_of_days }} from {{ trip.date_of_departure}} to {{ trip.date_of_return }}
          </h3></p>
          <form action="{% url 'like-trip'  trip.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit", name="trip_id", value="{{trip.id}}", class="btn btn-primary btn-sm">Like</button>
            <a href="{% url 'post-trip' pk=trip.pk %}" class="btn btn-secondary btn-sm">Comment</a>
            <strong>{{ num_likes }} likes</strong>
            </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Seats adult</th>
      <th scope="col">Price for adult</th>
      <th scope="col">Seats Children</th>
      <th scope="col">Price Children</th>
      <th scope="col">Still Available Adult</th>
      <th scope="col">Still Available Child</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ trip.number_of_places_per_adult }}</td>
      <td>{{ trip.price_for_adult }} $</td>
      <td>{{ trip.number_of_places_per_child }}</td>
      <td>{{ trip.price_for_child }} $</td>
      <td>{{ trip.remaining_places_adults }}</td>
      <td>{{ trip.remaining_places_child }}</td>
    </tr>
  </tbody>
</table>
</div>
<section>
{% if user.is_authenticated %}
<div class="d-flex justify-content-center align-items-center">
  <input class="form-control" type="number" name="quantity_a"  max="{{ trip.remaining_places_adults }}" min="1" placeholder="Enter the number of adults">
  <input class="form-control" type="number" name="quantity_ch" max="{{ trip.remaining_places_child }}" min="0" placeholder="Enter the number of childrens">
  <button class="btn btn-primary" id="submitBtn">Purchase</button>
</div>
{% else %}
<div class="btn btn-warning" style="text-align:center; width: 100%;">
<p>Please login<a href="{% url 'login' %}"> here</a> to reserve a trip!!</p>
</div>
{% endif %}
{% if qs %}
<div class="box" style="width:800px; background-color:#F5F2F2; border:1px solid black;border-radius: 10px;margin-top: 2%;margin-right: 3%;">
  <h4>Comments</h4>
    {% for obj in qs %}
    <h6>{{ obj.user.username }}</h6>
    <ul>{{ obj.title }} {{ obj.body }} {{ obj.created }}</ul>
    {% endfor %}
{% else %}
<p>No posts for this trip</p>
</div>{% endif %}
</section>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script>
const PAYMENTS_KEY_URL = "{% url 'payments_pubkey' %}";
const PAYMENTS_CHECKOUT_SESSION_URL = "{% url 'purchase-trip' trip_id=trip.pk %}";
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/purchase.js' %}"></script>
{% endblock scripts %}
