<style>
.header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
</style>

<div class="header-title">
    <h1>List of trips</h1>
    <a class="btn btn-primary" href="{% url 'add-trip' %}">Add Trip</a>
</div>
<section>
{% for trip in trips %}
<div>
            {{ trip.city_from_where }} - {{ trip.city_to_where }} - {{ trip.airport_to_where }}
        </div>
        <p>{{ trip.airport_from_where}}</p>
        <div>{{ trip.hotel_to_where }}</div>
    </div>
{% endfor %}
</section>