{% extends 'administrator/index_location.html' %} {{ block.super }} {% block content %}
<hr><br><br><br>
<div class="container">
    {% if user.is_authenticated %}
    <div class="btn btn-info">
      <p style="color:white; font-size:24px"> Hello {{ user.username }}. You are the administrator of Kalemi Travel Agency 
        <i class="far fa-laugh-beam"></i></p>
</div>
    {% else %}
    <div class="btn btn-danger">
    <p style="color: white; font-size:24px">You are not allowded on this page. We don't recognize you!! <i class="far fa-meh"></i></p>

</div>
    {% endif %}
</div>
{% endblock content %}