<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
{% load static %}
<link rel='stylesheet' href="{% static 'css/login.css' %}">
</head>
<body>
<div class="alert alert-warning" role="alert" style="border: white;">
	{% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}</div>

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="POST" action="">
				{% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="username" class="login__input" placeholder="Username" style="color: white;">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Password" style="color: white;">
				</div>
				<button class="button login__submit" type="submit" value="Login">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-circle-right"></i>
				</button>
				<div class="register" style="color: white;"><b>Don't you have an account? <a href="{% url 'register' %}" style="color: white;">Register now!</a></b></div>				
			</form>
        </div>
		
	</div>
</div> 
</body>
</html>
